# Visual Studio Code
.vscode/

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
Log/

.vs

copy.bat
copy_small.bat
copy_web.bat
publish.ps1
publish.bat

logs

_release

PublishProfiles/

version.txt

Winerr.NET.WebUI/.next

Winerr.NET.WebUI/node_modules
Winerr.NET.WebUI/package-lock.json

GlobalSuppressions.cs

out/
wwwroot/